{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="inbox my-xl">
  <div class="content-box">
    <div style="display: flex; justify-content: space-between">
      <h3 class="inbox__title">New Messages(<span>{{unread_messages_length}}</span>)</h3>
      <a href="{% url 'profiles:create-message' %}">Enviar mensagem</a>
    </div>
    <ul class="messages">
      {% for m in inbox_messages%}
      <li class="message {% if not m.is_read%}message--unread{% endif %}">
        <a href="{% url 'profiles:message' m.id %}">
          <span class="message__author">{{m.name}}</span>
          <span class="message__subject">{{m.subject}}</span>
          <span class="message__date">{{m.created}}</span>
        </a>
      </li>
      {% empty %}
      <p>You have no messages.</p>
      {% endfor %}
    </ul>
  </div>
</main>

{% endblock %}
