{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="inbox my-xl">
  <div class="content-box">
    <h3 class="inbox__title">New Messages(<span>{{unread_messages_length}}</span>)</h3>
    <ul class="messages">
      {% for message in messages%}
      <li class="message {% if not message.is_read%}message--unread{% endif %}">
        <a href="#">
          <span class="message__author">{{message.sender.name}}</span>
          <span class="message__subject">{{message.subject}}</span>
          <span class="message__date">{{message.created}}</span>
        </a>
      </li>
      {% empty %}
      <p>You have no messages.</p>
      {% endfor %}
    </ul>
  </div>
</main>

{% endblock %}
