{% extends 'main.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter Username"/>
    <input type="password" name="password" placeholder="Enter Password"/>
    <input type="submit" value="Login"/>
    <a href="{% url 'accounts:signup' %}">Cadastre-se</a>
</form>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock content %}