{% extends 'main.html' %}
{% load static %}
{% block content %}
<body>
    <!-- Main Section -->
    <main class="singleProject my-md">
      <div class="container">
        <div class="layout">
          <div class="column column--1of3">
            <h3 class="singleProject__subtitle">Tools & Stacks</h3>
            <div class="singleProject__toolStack">
  
              {% for tag in project.tags.all%}
              <span class="tag tag--pill tag--sub tag--lg">
                <small>{{tag}}</small>
              </span>
              {% endfor %}
            </div>
            {% if project.source_link %}
            <a class="singleProject__liveLink" href="{{project.source_link}}" target="_blank"><i class="im im-external-link"></i>
              Source code
            </a>
            {% endif %}

            {% if project.demo_link %}
            <a class="singleProject__liveLink" href="{{project.demo_link}}" target="_blank"><i class="im im-external-link"></i>
              Live demo
            </a>
            {% endif %}
          </div>
          <div class="column column--2of3">
            <img class="singleProject__preview" src="{% if project.image_exists %} {{project.featured_image.url}} {% else %} /media/projects/default.jpg {% endif %}" alt="portfolio thumbnail" />
            <a href="{% url 'profiles:get' project.owner.id %}" class="singleProject__developer">{{project.owner.name}}</a>
            <h2 class="singleProject__title">{{project.title}}</h2>
            <h3 class="singleProject__subtitle">{{project.description}}</h3>
            <div class="singleProject__info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima harum maxime debitis amet voluptates esse
              a perferendis tempora, natus pariatur obcaecati odit quisquam fugit deserunt.
  
              <br />
              <br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptates earum possimus a perferendis culpa
              omnis, libero quae soluta, obcaecati amet. Quam earum ad qui reprehenderit eligendi porro ab possimus
              fugit voluptatem rerum eius sapiente, nemo mollitia aperiam suscipit culpa corrupti officiis dicta soluta
              ut similique! Iste soluta quae tempora alias assumenda? Nam nesciunt nihil enim tempore cum quo
              architecto?
            </div>
  
            <div class="comments">
              <h3 class="singleProject__subtitle">Feedback</h3>
              <h5 class="project--rating">
                <span style="font-weight: bold;">{{ project.vote_ratio }}%</span> Posititive
                        Feedback ({{ project.vote_total }} Vote{{ project.vote_total|pluralize }})
              </h5>
  

              <div class="commentList">
                {% for review in project.review_set.all|dictsortreversed:"created" %}
                <div class="comment">
                  {% if review.owner %}
                  <a href="{% url 'profiles:get' review.owner.id %}">
                    <img class="avatar avatar--md"
                      src="{{review.owner.profile_image.url}}" alt="user" />
                  </a>
                  {% else %}
                    <img class="avatar avatar--md"
                        src="{% static 'images/user-default.png' %}" alt="user" />
                  {% endif %}
                  <div class="comment__details">
                    {% if review.owner %}
                    <a href="{% url 'profiles:get' review.owner.id %}" class="comment__author">{{review.owner.name}}</a>
                    {% else %}
                    Anonymous
                    {% endif %}
                    <p style="font-size: 1.1em">
                      {{review.body}}
                    </p>
                    <p style="font-size: .9em">{{review.created|date:"d/m/Y à\s H:i:s"}}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
              <form class="form" method="POST">
                {% csrf_token %}
                {% for field in review_form %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{ field.label }} </label>
                    {{ field }}
                </div>
                {% endfor %}
                {% if review_form.non_field_errors %}
                  {% for error in review_form.non_field_errors %}
                    <div class="error-messages">
                      <p style="color: red">{{error}}</p>
                    </div>
                  {% endfor %}
                {% endif %}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    </main>
  </body>
  
  </html>

{% endblock content %}

